USE [master]
GO
/****** Object:  Database [HotelRentalManagement]    Script Date: 7/23/2025 10:38:52 PM ******/
CREATE DATABASE [HotelRentalManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelRentalManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DDHOANG\MSSQL\DATA\HotelRentalManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelRentalManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DDHOANG\MSSQL\DATA\HotelRentalManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelRentalManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelRentalManagement]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Booking_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[Room_Id] [int] NOT NULL,
	[Reservation_Date] [datetime] NOT NULL,
	[CheckIn_Date] [datetime] NOT NULL,
	[CheckOut_Date] [datetime] NOT NULL,
	[Special_Requests] [nvarchar](max) NULL,
	[Promotion_Id] [int] NULL,
	[Total_Amount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Reject_Reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT Room_Id, SUM(Total_Amount) AS revenues
FROM   dbo.Booking
GROUP BY Room_Id
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_Id] [int] IDENTITY(1,1) NOT NULL,
	[Total_Amount] [decimal](10, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Payment_Id] [int] NULL,
	[Booking_Id] [int] NOT NULL,
	[Deposit_Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[doanh_thu_theo_thang]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[doanh_thu_theo_thang]
AS
SELECT TOP (100) PERCENT YEAR(Date) AS Year, MONTH(Date) AS Month, SUM(Total_Amount) AS TotalRevenue
FROM   dbo.Invoice
GROUP BY YEAR(Date), MONTH(Date)
ORDER BY Year, Month
GO
/****** Object:  View [dbo].[View_2]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_2]
AS
SELECT TOP (100) PERCENT CAST(Date AS DATE) AS Day, SUM(Total_Amount) AS TotalRevenue
FROM   dbo.Invoice
WHERE (MONTH(Date) = 7) AND (YEAR(Date) = 2025)
GROUP BY CAST(Date AS DATE)
ORDER BY Day
GO
/****** Object:  Table [dbo].[ApprovalLog]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalLog](
	[Approval_Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Decider_Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Approval_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Post_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Author_Id] [int] NOT NULL,
	[Created_At] [datetime] NOT NULL,
	[Updated_At] [datetime] NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Post_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingService]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingService](
	[Booking_Service_Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Booking_Id] [int] NOT NULL,
	[Service_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_Service_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Comment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Post_Id] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Comment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerFeedback]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerFeedback](
	[Feedback_Id] [int] IDENTITY(1,1) NOT NULL,
	[Overall_Rating] [int] NOT NULL,
	[Service_Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Rental_Period] [nvarchar](100) NULL,
	[Created_At] [datetime] NOT NULL,
	[User_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Feedback_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackRoom]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackRoom](
	[Feedback_Room_Id] [int] IDENTITY(1,1) NOT NULL,
	[Room_Id] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Created_At] [datetime] NULL,
	[Updated_At] [datetime] NULL,
	[Booking_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Feedback_Room_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[Food_Id] [int] IDENTITY(1,1) NOT NULL,
	[Food_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Availability] [bit] NOT NULL,
	[Image] [nvarchar](255) NULL,
	[Created_At] [datetime] NOT NULL,
	[Updated_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Food_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodOrder]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrder](
	[Food_Order_Id] [int] IDENTITY(1,1) NOT NULL,
	[Booking_Id] [int] NOT NULL,
	[Order_Time] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Food_Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodOrderDetail]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrderDetail](
	[Food_Order_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Food_Order_Id] [int] NOT NULL,
	[Food_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Food_Order_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_History]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Login_Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfflineBookingUser]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfflineBookingUser](
	[Offline_User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [nvarchar](100) NOT NULL,
	[Phone_Number] [varchar](20) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Identity_Card] [varchar](50) NULL,
	[Booking_Id] [int] NOT NULL,
	[Booked_By_Receptionist_Id] [int] NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Offline_User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Payment_Type] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Promotion_Id] [int] IDENTITY(1,1) NOT NULL,
	[Promotion_Name] [nvarchar](100) NOT NULL,
	[Discount_Percent] [decimal](5, 2) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_Id] [int] NOT NULL,
	[Role_Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomAmenity]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAmenity](
	[Room_Amenity_Id] [int] IDENTITY(1,1) NOT NULL,
	[Room_Type_Id] [int] NOT NULL,
	[Amenity_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_Amenity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomImages]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomImages](
	[Image_Id] [int] IDENTITY(1,1) NOT NULL,
	[Room_Id] [int] NOT NULL,
	[Image_Url] [varchar](255) NOT NULL,
	[Upload_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Room_Id] [int] IDENTITY(1,1) NOT NULL,
	[Room_Number] [int] NOT NULL,
	[Room_Type_Id] [int] NOT NULL,
	[Booked] [bit] NOT NULL,
	[Capacity] [nvarchar](50) NOT NULL,
	[Created_At] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Updated_At] [datetime] NULL,
	[Size] [nvarchar](50) NULL,
	[Bed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[Room_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Type_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Base_Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[Service_Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Category_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Service_Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Service_Category_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/23/2025 10:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [nvarchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Salt] [varchar](250) NOT NULL,
	[Hashed_Password] [varchar](250) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone_Number] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[Role_Id] [int] NOT NULL,
	[Image] [varchar](max) NULL,
	[Points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

INSERT [dbo].[BlogPosts] ([Post_Id], [Title], [Content], [Author_Id], [Created_At], [Updated_At], [Image]) VALUES (1, N'eqWQDQWed', N'ĐỖ DUY HOÀNG
', 1, CAST(N'2025-06-12T21:51:19.940' AS DateTime), CAST(N'2025-06-12T22:27:08.660' AS DateTime), N'https://i.pinimg.com/736x/c9/55/af/c955af244b8d279710bb4a66c0e37858.jpg')
INSERT [dbo].[BlogPosts] ([Post_Id], [Title], [Content], [Author_Id], [Created_At], [Updated_At], [Image]) VALUES (3, N'123', N'123', 18, CAST(N'2025-06-12T22:25:35.580' AS DateTime), NULL, N'https://i.pinimg.com/736x/57/91/4b/57914bda7cfa1599d71cbce30be133b7.jpg')
INSERT [dbo].[BlogPosts] ([Post_Id], [Title], [Content], [Author_Id], [Created_At], [Updated_At], [Image]) VALUES (15, N'Trải nghiệm nghỉ dưỡng đẳng cấp 5 sao tại khách sạn Royal Deluxe – Nơi thời gian dừng lại', N'1. Vị trí đắc địa – trái tim thành phố, gần gũi thiên nhiên

Nằm ngay trung tâm thành phố, Royal Deluxe chỉ cách sân bay quốc tế 15 phút lái xe và nằm gần các địa điểm nổi tiếng như phố cổ, nhà hát lớn, trung tâm thương mại Vincom, cùng nhiều nhà hàng ẩm thực đa dạng. Tuy nhiên, điều làm nên sự khác biệt là khách sạn vẫn giữ được sự yên tĩnh tuyệt đối nhờ không gian xanh rộng lớn bao quanh, tạo cảm giác an nhiên và thư giãn cho mọi du khách.

2. Phòng nghỉ sang trọng, tiện nghi vượt mong đợi

Mỗi phòng nghỉ tại Royal Deluxe là một tuyệt tác nghệ thuật, được thiết kế theo phong cách tối giản nhưng vẫn toát lên sự sang trọng. Nội thất cao cấp từ gỗ óc chó, chăn ga gối đệm nhập khẩu, TV 65 inch, hệ thống điều hòa trung tâm, máy pha cà phê espresso và cả bồn tắm jacuzzi với view toàn thành phố đều sẵn sàng phục vụ.

3. Ẩm thực tinh hoa – nơi hội tụ các nền văn hóa

Hệ thống nhà hàng trong khách sạn bao gồm:

Nhà hàng La Vina phục vụ buffet sáng phong phú với các món Âu - Á.

Nhà hàng Sakura chuyên ẩm thực Nhật Bản chuẩn vị với đầu bếp người Nhật hơn 20 năm kinh nghiệm.

Quán bar Sky Lounge trên tầng thượng mang đến không gian chill lý tưởng, cocktail signature và nhạc live mỗi tối thứ 6.

4. Dịch vụ tiêu chuẩn quốc tế

Khách sạn cung cấp hàng loạt tiện ích: hồ bơi vô cực, trung tâm thể hình mở cửa 24/7, spa trị liệu chuyên sâu, phòng hội nghị sức chứa hơn 300 khách với trang thiết bị âm thanh – ánh sáng hiện đại. Ngoài ra, dịch vụ đưa đón sân bay, hỗ trợ đặt vé máy bay, tổ chức tour khám phá địa phương cũng được cung cấp theo yêu cầu.

5. Đội ngũ nhân viên tận tâm – trái tim của Royal Deluxe

Chúng tôi tin rằng sự chuyên nghiệp không chỉ đến từ dịch vụ mà còn từ con người. Đội ngũ nhân viên của Royal Deluxe luôn sẵn sàng lắng nghe và đáp ứng mọi nhu cầu của quý khách với nụ cười thân thiện và thái độ tận tâm.', 18, CAST(N'2025-06-13T12:54:10.253' AS DateTime), NULL, N'https://i.pinimg.com/736x/3b/17/80/3b1780c4631ac3ad8a5196cdecc8a8c1.jpg')
INSERT [dbo].[BlogPosts] ([Post_Id], [Title], [Content], [Author_Id], [Created_At], [Updated_At], [Image]) VALUES (16, N'🏨 Lý Do Nên Chọn Khách Sạn Royal Cho Kỳ Nghỉ Tiếp Theo Của Bạn', N'🌟 1. Vị Trí Trung Tâm – Giao Thông Thuận Tiện
Tọa lạc ngay trung tâm thành phố, [Tên Khách Sạn] giúp bạn dễ dàng di chuyển đến các địa điểm nổi bật như:

Các trung tâm mua sắm sầm uất

Khu phố cổ mang đậm dấu ấn văn hóa

Những nhà hàng địa phương đặc sắc

Vị trí "vàng" giúp bạn tiết kiệm thời gian và tối ưu trải nghiệm du lịch.

🛏️ 2. Phòng Nghỉ Tiện Nghi – Không Gian Thoải Mái
Tại đây, mỗi phòng đều được thiết kế hiện đại và đầy đủ tiện nghi:

Giường nệm cao cấp, êm ái

TV màn hình phẳng, wifi tốc độ cao

Tầm nhìn hướng thành phố hoặc biển (tuỳ loại phòng)

Chúng tôi có đa dạng loại phòng: từ Superior, Deluxe, đến Suite – phù hợp cho cả cặp đôi, gia đình hoặc khách công tác.

🍽️ 3. Dịch Vụ Nhà Hàng – Ẩm Thực Tinh Tế
Nhà hàng tại [Tên Khách Sạn] phục vụ cả món Á – Âu với nguyên liệu tươi ngon mỗi ngày. Đặc biệt, buffet sáng miễn phí với thực đơn đa dạng sẽ khởi đầu cho bạn một ngày năng động và đầy năng lượng.

💆 4. Tiện Ích Đa Dạng – Phục Vụ Tận Tâm
Khách sạn còn cung cấp nhiều tiện ích cao cấp:

Hồ bơi vô cực

Spa & massage thư giãn

Phòng gym hiện đại

Dịch vụ giặt ủi, đưa đón sân bay

Ngoài ra, đội ngũ lễ tân luôn phục vụ 24/7, sẵn sàng hỗ trợ bạn trong mọi nhu cầu.

🧳 5. Ưu Đãi Đặc Biệt Khi Đặt Phòng Trực Tuyến
Đặt phòng ngay hôm nay để nhận ưu đãi hấp dẫn:

Giảm 10–30% cho khách đặt trực tiếp trên website

Miễn phí nâng hạng phòng (tùy tình trạng)

Quà tặng check-in sớm, check-out muộn', 18, CAST(N'2025-06-17T10:03:48.667' AS DateTime), NULL, N'https://i.pinimg.com/736x/01/36/8c/01368c304e86f0279cbe8949f2ddded6.jpg')
INSERT [dbo].[BlogPosts] ([Post_Id], [Title], [Content], [Author_Id], [Created_At], [Updated_At], [Image]) VALUES (19, N'Các khách sạn 5 sao mới mở cho mùa du lịch hè 2025', N'Dusit Le Palais Tu Hoa Hanoi

Địa điểm: quận Tây Hồ, Hà Nội

Nằm sát thung lũng hoa hồ Tây, Dusit Le Palais Tu Hoa Hanoi hoạt động từ đầu tháng 5. Khách sạn lấy cảm hứng thiết kế từ di sản của Công chúa Từ Hoa, nhân vật được tôn vinh vì những đóng góp cho ngành tơ lụa vùng Nghi Tàm. Các nhà hàng gồm Soi (ẩm thực Thái Lan), Italia Vinci (ẩm thực Italy), quầy bar tầng thượng và phở Lụa ở không gian ngoài trời. Khách sạn cũng có 4 phòng ăn riêng phục vụ khách VIP.', 18, CAST(N'2025-06-19T13:12:13.163' AS DateTime), NULL, N'https://i1-dulich.vnecdn.net/2025/05/21/KS1-1747819866.jpg?w=1200&h=0&q=100&dpr=2&fit=crop&s=SQYt54M9tS1ZfG-hOLKldg')
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Booking_Id], [Customer_Id], [Room_Id], [Reservation_Date], [CheckIn_Date], [CheckOut_Date], [Special_Requests], [Promotion_Id], [Total_Amount], [Status], [Reject_Reason]) VALUES (3, 2, 22, CAST(N'2025-06-15T21:31:54.143' AS DateTime), CAST(N'2025-06-25T00:00:00.000' AS DateTime), CAST(N'2025-06-28T00:00:00.000' AS DateTime), N'Yêu cầu thêm nôi em bé', NULL, CAST(2000000.00 AS Decimal(10, 2)), N'reject', NULL)
INSERT [dbo].[Booking] ([Booking_Id], [Customer_Id], [Room_Id], [Reservation_Date], [CheckIn_Date], [CheckOut_Date], [Special_Requests], [Promotion_Id], [Total_Amount], [Status], [Reject_Reason]) VALUES (11, 2, 22, CAST(N'2025-06-15T21:37:28.150' AS DateTime), CAST(N'2025-07-02T00:00:00.000' AS DateTime), CAST(N'2025-07-05T00:00:00.000' AS DateTime), NULL, NULL, CAST(1800000.00 AS Decimal(10, 2)), N'reject', N'sd')
INSERT [dbo].[Booking] ([Booking_Id], [Customer_Id], [Room_Id], [Reservation_Date], [CheckIn_Date], [CheckOut_Date], [Special_Requests], [Promotion_Id], [Total_Amount], [Status], [Reject_Reason]) VALUES (14, 5, 21, CAST(N'2025-06-15T21:37:28.150' AS DateTime), CAST(N'2025-07-07T00:00:00.000' AS DateTime), CAST(N'2025-07-09T00:00:00.000' AS DateTime), NULL, NULL, CAST(1600000.00 AS Decimal(10, 2)), N'checkin', NULL)
INSERT [dbo].[Booking] ([Booking_Id], [Customer_Id], [Room_Id], [Reservation_Date], [CheckIn_Date], [CheckOut_Date], [Special_Requests], [Promotion_Id], [Total_Amount], [Status], [Reject_Reason]) VALUES (65, 16, 21, CAST(N'2025-07-01T16:47:27.173' AS DateTime), CAST(N'2025-07-23T00:00:00.000' AS DateTime), CAST(N'2025-07-26T00:00:00.000' AS DateTime), N'', NULL, CAST(2400000.00 AS Decimal(10, 2)), N'reject', N'hết phòng
')
GO
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingService] ON 

INSERT [dbo].[BookingService] ([Booking_Service_Id], [Quantity], [Booking_Id], [Service_Id]) VALUES (23, 1, 35, 211)
INSERT [dbo].[BookingService] ([Booking_Service_Id], [Quantity], [Booking_Id], [Service_Id]) VALUES (30, 2, 36, 214)
INSERT [dbo].[BookingService] ([Booking_Service_Id], [Quantity], [Booking_Id], [Service_Id]) VALUES (31, 1, 36, 206)
GO
SET IDENTITY_INSERT [dbo].[BookingService] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Comment_Id], [Post_Id], [User_Id], [Content], [Created_At]) VALUES (20, 8, 5, N'hihi', CAST(N'2025-06-13T19:14:05.797' AS DateTime))
INSERT [dbo].[Comments] ([Comment_Id], [Post_Id], [User_Id], [Content], [Created_At]) VALUES (21, 7, 5, N'haha
', CAST(N'2025-06-13T19:15:08.110' AS DateTime))
INSERT [dbo].[Comments] ([Comment_Id], [Post_Id], [User_Id], [Content], [Created_At]) VALUES (22, 5, 5, N'hay', CAST(N'2025-06-13T19:16:25.190' AS DateTime))
INSERT [dbo].[Comments] ([Comment_Id], [Post_Id], [User_Id], [Content], [Created_At]) VALUES (23, 5, 5, N'hay', CAST(N'2025-06-13T19:16:35.440' AS DateTime))
INSERT [dbo].[Comments] ([Comment_Id], [Post_Id], [User_Id], [Content], [Created_At]) VALUES (27, 6, 5, N'hic
', CAST(N'2025-06-13T19:22:16.113' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerFeedback] ON 

INSERT [dbo].[CustomerFeedback] ([Feedback_Id], [Overall_Rating], [Service_Rating], [Comment], [Rental_Period], [Created_At], [User_Id]) VALUES (1, 5, 5, N'dịch vụ tốt
', N'2 ngày', CAST(N'2025-06-19T22:10:40.480' AS DateTime), 5)
INSERT [dbo].[CustomerFeedback] ([Feedback_Id], [Overall_Rating], [Service_Rating], [Comment], [Rental_Period], [Created_At], [User_Id]) VALUES (2, 4, 5, N'phòng đẹp dịch vụ tốt', N'3 ngày', CAST(N'2025-06-19T22:17:19.770' AS DateTime), 5)
INSERT [dbo].[CustomerFeedback] ([Feedback_Id], [Overall_Rating], [Service_Rating], [Comment], [Rental_Period], [Created_At], [User_Id]) VALUES (3, 5, 5, N'hihi', N'2 ngày', CAST(N'2025-06-30T15:19:57.617' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[CustomerFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackRoom] ON 

INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (11, 22, 18, 5, N'phòng thoáng mát view đẹp', CAST(N'2025-06-20T17:10:48.573' AS DateTime), NULL, 27)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (12, 21, 5, 5, N'phòng đẹp giá tốt
', CAST(N'2025-06-22T22:09:39.620' AS DateTime), NULL, 14)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (13, 23, 5, 5, N'dịch vụ tốt', CAST(N'2025-06-24T11:44:14.107' AS DateTime), NULL, 33)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (15, 22, 5, 1, N'kém', CAST(N'2025-06-24T23:23:09.237' AS DateTime), NULL, 32)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (18, 22, 5, 4, N'tốt
', CAST(N'2025-06-24T23:23:37.007' AS DateTime), NULL, 36)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (37, 21, 5, 1, N'tệ quá
', CAST(N'2025-07-06T23:04:10.783' AS DateTime), CAST(N'2025-07-06T23:05:30.210' AS DateTime), 74)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (38, 22, 5, 5, N'tuyệt
', CAST(N'2025-07-07T00:33:07.400' AS DateTime), NULL, 40)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (40, 127, 5, 5, N'tuyệt
', CAST(N'2025-07-23T12:06:49.370' AS DateTime), NULL, 144)
INSERT [dbo].[FeedbackRoom] ([Feedback_Room_Id], [Room_Id], [User_Id], [Rating], [Comment], [Created_At], [Updated_At], [Booking_Id]) VALUES (41, 176, 5, 5, N'tuyệt vời quá
', CAST(N'2025-07-21T22:15:48.673' AS DateTime), NULL, 156)
SET IDENTITY_INSERT [dbo].[FeedbackRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([Food_Id], [Food_Name], [Description], [Price], [Category], [Availability], [Image], [Created_At], [Updated_At]) VALUES (1, N'Gà KFC', N'Thơm ngon giòn rụm', CAST(25000.00 AS Decimal(10, 2)), N'food', 1, N'https://file.hstatic.net/200000700229/article/ga-ran-vi-kfc-1_0c2450efe15d4b6f9e6bd2637b71d88d.jpg', CAST(N'2025-07-04T16:47:40.890' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodOrder] ON 

INSERT [dbo].[FoodOrder] ([Food_Order_Id], [Booking_Id], [Order_Time], [Status], [Note]) VALUES (1, 14, CAST(N'2025-07-04T16:54:29.013' AS DateTime), N'Đã huỷ', N'Khách đặt từ web')
INSERT [dbo].[FoodOrder] ([Food_Order_Id], [Booking_Id], [Order_Time], [Status], [Note]) VALUES (2, 14, CAST(N'2025-07-04T16:55:44.610' AS DateTime), N'Đã huỷ', N'Khách đặt từ web')
SET IDENTITY_INSERT [dbo].[FoodOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodOrderDetail] ON 

INSERT [dbo].[FoodOrderDetail] ([Food_Order_Detail_Id], [Food_Order_Id], [Food_Id], [Quantity], [Price]) VALUES (1, 1, 1, 1, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[FoodOrderDetail] ([Food_Order_Detail_Id], [Food_Order_Id], [Food_Id], [Quantity], [Price]) VALUES (2, 2, 1, 1, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[FoodOrderDetail] ([Food_Order_Detail_Id], [Food_Order_Id], [Food_Id], [Quantity], [Price]) VALUES (3, 2, 1, 1, CAST(25000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[FoodOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([Invoice_Id], [Total_Amount], [Date], [Payment_Id], [Booking_Id], [Deposit_Amount]) VALUES (1, CAST(2756000.00 AS Decimal(10, 2)), CAST(N'2025-07-01T00:00:00.000' AS DateTime), 1, 59, CAST(1378000.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoice] ([Invoice_Id], [Total_Amount], [Date], [Payment_Id], [Booking_Id], [Deposit_Amount]) VALUES (2, CAST(1230000.00 AS Decimal(10, 2)), CAST(N'2025-07-01T13:30:39.433' AS DateTime), 1, 60, CAST(615000.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoice] ([Invoice_Id], [Total_Amount], [Date], [Payment_Id], [Booking_Id], [Deposit_Amount]) VALUES (3, CAST(1730000.00 AS Decimal(10, 2)), CAST(N'2025-07-01T14:02:18.927' AS DateTime), 1, 34, CAST(865000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Login_History] ON 

INSERT [dbo].[Login_History] ([Id], [User_Id], [Login_Time]) VALUES (1, 5, CAST(N'2025-07-06T17:37:20.790' AS DateTime))
INSERT [dbo].[Login_History] ([Id], [User_Id], [Login_Time]) VALUES (2, 18, CAST(N'2025-07-06T17:39:12.567' AS DateTime))
INSERT [dbo].[Login_History] ([Id], [User_Id], [Login_Time]) VALUES (3, 18, CAST(N'2025-07-06T17:50:09.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Login_History] OFF
GO
SET IDENTITY_INSERT [dbo].[OfflineBookingUser] ON 

INSERT [dbo].[OfflineBookingUser] ([Offline_User_Id], [Full_Name], [Phone_Number], [Address], [Identity_Card], [Booking_Id], [Booked_By_Receptionist_Id], [Created_At]) VALUES (41, N'Đỗ Duy Hải', N'0987654321', N'Hà Nam', N'036204003673', 136, 16, CAST(N'2025-07-21T11:39:44.047' AS DateTime))
INSERT [dbo].[OfflineBookingUser] ([Offline_User_Id], [Full_Name], [Phone_Number], [Address], [Identity_Card], [Booking_Id], [Booked_By_Receptionist_Id], [Created_At]) VALUES (42, N'Đỗ Duy Hưng', N'0987654321', N'Ninh Bình', N'036204003673', 137, 16, CAST(N'2025-07-21T11:43:02.637' AS DateTime))
INSERT [dbo].[OfflineBookingUser] ([Offline_User_Id], [Full_Name], [Phone_Number], [Address], [Identity_Card], [Booking_Id], [Booked_By_Receptionist_Id], [Created_At]) VALUES (43, N'Đỗ Duy Hải', N'0987654321', N'Nam Định', N'036204003673', 138, 16, CAST(N'2025-07-21T12:10:02.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[OfflineBookingUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Payment_Id], [Payment_Type]) VALUES (1, N'Chuyển khoản')
INSERT [dbo].[Payment] ([Payment_Id], [Payment_Type]) VALUES (2, N'Tiền mặt')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([Promotion_Id], [Promotion_Name], [Discount_Percent], [Start_Date], [End_Date], [Status], [Description], [Quantity]) VALUES (1, N'Giảm giá mùa hè', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date), N'0', N'Khuyến mãi đặc biệt mùa hè', 0)
INSERT [dbo].[Promotion] ([Promotion_Id], [Promotion_Name], [Discount_Percent], [Start_Date], [End_Date], [Status], [Description], [Quantity]) VALUES (2, N'Trung thu yêu thương', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-09-01' AS Date), CAST(N'2025-09-30' AS Date), N'0', N'Ưu đãi đặc biệt dịp Trung Thu', 0)
INSERT [dbo].[Promotion] ([Promotion_Id], [Promotion_Name], [Discount_Percent], [Start_Date], [End_Date], [Status], [Description], [Quantity]) VALUES (3, N'Black Friday', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-11-25' AS Date), CAST(N'2025-11-30' AS Date), N'0', N'Siêu khuyến mãi dịp Black Friday', 0)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (1, N'customer')
INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (2, N'admin')
INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (3, N'management')
GO
SET IDENTITY_INSERT [dbo].[RoomAmenity] ON 

INSERT [dbo].[RoomAmenity] ([Room_Amenity_Id], [Room_Type_Id], [Amenity_Name]) VALUES (2, 1, N'TV')
INSERT [dbo].[RoomAmenity] ([Room_Amenity_Id], [Room_Type_Id], [Amenity_Name]) VALUES (3, 1, N'Máy lạnh')
INSERT [dbo].[RoomAmenity] ([Room_Amenity_Id], [Room_Type_Id], [Amenity_Name]) VALUES (4, 2, N'Tủ lạnh mini')
SET IDENTITY_INSERT [dbo].[RoomAmenity] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomImages] ON 

INSERT [dbo].[RoomImages] ([Image_Id], [Room_Id], [Image_Url], [Upload_At]) VALUES (64, 21, N'/HotelRentalManagement/uploads/10029603-de372da4373553c0d9cc241de5b36e37.jpeg', CAST(N'2025-07-23T15:31:05.277' AS DateTime))
INSERT [dbo].[RoomImages] ([Image_Id], [Room_Id], [Image_Url], [Upload_At]) VALUES (65, 21, N'/HotelRentalManagement/uploads/10029603-b8e11e24b719d274b2c347ea48ca9b55.jpeg', CAST(N'2025-07-23T15:31:05.277' AS DateTime))
INSERT [dbo].[RoomImages] ([Image_Id], [Room_Id], [Image_Url], [Upload_At]) VALUES (66, 21, N'/HotelRentalManagement/uploads/10029603-83eb3a8078ffe1b4a80df64fa8179086.jpeg', CAST(N'2025-07-23T15:31:05.277' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RoomImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Room_Id], [Room_Number], [Room_Type_Id], [Booked], [Capacity], [Created_At], [Status], [Updated_At], [Size], [Bed]) VALUES (21, 101, 2, 0, N'2 người lớn', CAST(N'2025-06-12T21:52:35.573' AS DateTime), N'available', CAST(N'2025-07-23T15:31:05.273' AS DateTime), N'30m2', 2)
INSERT [dbo].[Rooms] ([Room_Id], [Room_Number], [Room_Type_Id], [Booked], [Capacity], [Created_At], [Status], [Updated_At], [Size], [Bed]) VALUES (22, 102, 6, 0, N'6 người lớn', CAST(N'2025-06-13T19:34:25.657' AS DateTime), N'available', CAST(N'2025-07-23T15:50:12.523' AS DateTime), N'50m2', 4)
INSERT [dbo].[Rooms] ([Room_Id], [Room_Number], [Room_Type_Id], [Booked], [Capacity], [Created_At], [Status], [Updated_At], [Size], [Bed]) VALUES (23, 103, 6, 0, N'4 người lớn', CAST(N'2025-06-18T11:41:44.633' AS DateTime), N'available', CAST(N'2025-07-23T15:50:21.253' AS DateTime), N'60m2', 2)
GO
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([Room_Type_Id], [Type_Name], [Description], [Base_Price]) VALUES (1, N'Phòng tiêu chuẩn', N'Phòng cơ bản với tiện nghi tiêu chuẩn', CAST(500000.00 AS Decimal(10, 2)))
INSERT [dbo].[RoomType] ([Room_Type_Id], [Type_Name], [Description], [Base_Price]) VALUES (2, N'Phòng cao cấp', N'Phòng cao cấp với nội thất sang trọng', CAST(800000.00 AS Decimal(10, 2)))
INSERT [dbo].[RoomType] ([Room_Type_Id], [Type_Name], [Description], [Base_Price]) VALUES (3, N'Phòng hạng sang', N'Phòng hạng sang với không gian rộng rãi', CAST(1200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RoomType] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategory] ON 

INSERT [dbo].[ServiceCategory] ([Service_Category_Id], [Service_Category_Name]) VALUES (28, N'Ăn uống')
INSERT [dbo].[ServiceCategory] ([Service_Category_Id], [Service_Category_Name]) VALUES (29, N'Vận chuyển')
INSERT [dbo].[ServiceCategory] ([Service_Category_Id], [Service_Category_Name]) VALUES (30, N'Giặt ủi')
SET IDENTITY_INSERT [dbo].[ServiceCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Service_Id], [Service_Name], [Description], [Price], [Service_Category_Id]) VALUES (205, N'Bữa sáng tại phòng', N'Phục vụ bữa sáng tận phòng mỗi sáng', CAST(80000.00 AS Decimal(10, 2)), 28)
INSERT [dbo].[Services] ([Service_Id], [Service_Name], [Description], [Price], [Service_Category_Id]) VALUES (206, N'Buffet sáng', N'Thưởng thức buffet tại nhà hàng khách sạn', CAST(120000.00 AS Decimal(10, 2)), 28)
INSERT [dbo].[Services] ([Service_Id], [Service_Name], [Description], [Price], [Service_Category_Id]) VALUES (207, N'Nước chào mừng', N'Nước suối hoặc trà khi check-in', CAST(30000.00 AS Decimal(10, 2)), 28)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_Id], [Full_Name], [Username], [Salt], [Hashed_Password], [Email], [Phone_Number], [Address], [Status], [Role_Id], [Image], [Points]) VALUES (1, N'Trần Thị B', N'tranthib', N'salt123', N'hashedpwd123', N'btran@example.com', N'0987654321', N'Hồ Chí Minh', N'1', 1, NULL, NULL)
INSERT [dbo].[User] ([User_Id], [Full_Name], [Username], [Salt], [Hashed_Password], [Email], [Phone_Number], [Address], [Status], [Role_Id], [Image], [Points]) VALUES (2, N'Admin Nguyễn', N'adminnguyen', N'salt456', N'hashedpwd456', N'admin@example.com', N'0911222333', N'Hà Nội', N'1', 2, NULL, NULL)
INSERT [dbo].[User] ([User_Id], [Full_Name], [Username], [Salt], [Hashed_Password], [Email], [Phone_Number], [Address], [Status], [Role_Id], [Image], [Points]) VALUES (5, N'Đỗ Duy Hoàng', N'hoangdo171004@gmail.com', N'áà ~XÑGY¨Ô?¹6', N'Æ•©Ù#Ö-´Bg}ÞRG­¨ùÓ÷ÜfO&è*Ü+', N'hoangdo171004@gmail.com', N'0394855685', N'Giao Thịnh,Giao Thủy,Nam Định', N'1', 1, N'5_1751908922016_avatar.jpg', 0)
INSERT [dbo].[User] ([User_Id], [Full_Name], [Username], [Salt], [Hashed_Password], [Email], [Phone_Number], [Address], [Status], [Role_Id], [Image], [Points]) VALUES (16, N'Do Duy Hoang (K18 HL)', N'hoangddhe181893@fpt.edu.vn', N'#ÎlVWI$Ôîˆ''—¦', N'üß6D…¬V¡”ŠÐÞš‰H1§„ˆñ
¤Q¾ #', N'hoangddhe181893@fpt.edu.vn', N'0394855685', N'Nam Định', N'1', 4, N'16_1750324813512_—Pngtree—flower photo jpg free download_19168382.png', NULL)
INSERT [dbo].[User] ([User_Id], [Full_Name], [Username], [Salt], [Hashed_Password], [Email], [Phone_Number], [Address], [Status], [Role_Id], [Image], [Points]) VALUES (26, N'Hoàng Haha', N'admin', N'íÙÔ8† ìŽx…¬ÏY[6', N'28
«£…¹R¾H7K±Ãéä{HwTf¦óÚï{T', N'hoang@gmail.com', N'0394855685', N'Nam Định', N'1', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[ApprovalLog] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[CustomerFeedback] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[FeedbackRoom] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((1)) FOR [Availability]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[FoodOrder] ADD  DEFAULT (getdate()) FOR [Order_Time]
GO
ALTER TABLE [dbo].[FoodOrder] ADD  DEFAULT (N'Đang xử lý') FOR [Status]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [Deposit_Amount]
GO
ALTER TABLE [dbo].[Login_History] ADD  DEFAULT (getdate()) FOR [Login_Time]
GO
ALTER TABLE [dbo].[OfflineBookingUser] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[RoomImages] ADD  DEFAULT (getdate()) FOR [Upload_At]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [Booked]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[ApprovalLog]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalLog_User] FOREIGN KEY([Decider_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[ApprovalLog] CHECK CONSTRAINT [FK_ApprovalLog_User]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_User] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_User]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Promotion] FOREIGN KEY([Promotion_Id])
REFERENCES [dbo].[Promotion] ([Promotion_Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Promotion]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Rooms] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Room_Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Rooms]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[BookingService]  WITH CHECK ADD  CONSTRAINT [FK_BookingService_Booking] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Booking] ([Booking_Id])
GO
ALTER TABLE [dbo].[BookingService] CHECK CONSTRAINT [FK_BookingService_Booking]
GO
ALTER TABLE [dbo].[BookingService]  WITH CHECK ADD  CONSTRAINT [FK_BookingService_Services] FOREIGN KEY([Service_Id])
REFERENCES [dbo].[Services] ([Service_Id])
GO
ALTER TABLE [dbo].[BookingService] CHECK CONSTRAINT [FK_BookingService_Services]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_BlogPosts] FOREIGN KEY([Post_Id])
REFERENCES [dbo].[BlogPosts] ([Post_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_BlogPosts]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_User]
GO
ALTER TABLE [dbo].[CustomerFeedback]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedback_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[CustomerFeedback] CHECK CONSTRAINT [FK_CustomerFeedback_User]
GO
ALTER TABLE [dbo].[FeedbackRoom]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackRoom_Booking] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Booking] ([Booking_Id])
GO
ALTER TABLE [dbo].[FeedbackRoom] CHECK CONSTRAINT [FK_FeedbackRoom_Booking]
GO
ALTER TABLE [dbo].[FeedbackRoom]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackRoom_Room] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Room_Id])
GO
ALTER TABLE [dbo].[FeedbackRoom] CHECK CONSTRAINT [FK_FeedbackRoom_Room]
GO
ALTER TABLE [dbo].[FeedbackRoom]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackRoom_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[FeedbackRoom] CHECK CONSTRAINT [FK_FeedbackRoom_User]
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrder_Booking] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Booking] ([Booking_Id])
GO
ALTER TABLE [dbo].[FoodOrder] CHECK CONSTRAINT [FK_FoodOrder_Booking]
GO
ALTER TABLE [dbo].[FoodOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrderDetail_Food] FOREIGN KEY([Food_Id])
REFERENCES [dbo].[Food] ([Food_Id])
GO
ALTER TABLE [dbo].[FoodOrderDetail] CHECK CONSTRAINT [FK_FoodOrderDetail_Food]
GO
ALTER TABLE [dbo].[FoodOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrderDetail_FoodOrder] FOREIGN KEY([Food_Order_Id])
REFERENCES [dbo].[FoodOrder] ([Food_Order_Id])
GO
ALTER TABLE [dbo].[FoodOrderDetail] CHECK CONSTRAINT [FK_FoodOrderDetail_FoodOrder]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Booking] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Booking] ([Booking_Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Booking]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Payment] FOREIGN KEY([Payment_Id])
REFERENCES [dbo].[Payment] ([Payment_Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Payment]
GO
ALTER TABLE [dbo].[Login_History]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[OfflineBookingUser]  WITH CHECK ADD  CONSTRAINT [FK_OfflineBookingUser_Booking] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Booking] ([Booking_Id])
GO
ALTER TABLE [dbo].[OfflineBookingUser] CHECK CONSTRAINT [FK_OfflineBookingUser_Booking]
GO
ALTER TABLE [dbo].[OfflineBookingUser]  WITH CHECK ADD  CONSTRAINT [FK_OfflineBookingUser_Receptionist] FOREIGN KEY([Booked_By_Receptionist_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[OfflineBookingUser] CHECK CONSTRAINT [FK_OfflineBookingUser_Receptionist]
GO
ALTER TABLE [dbo].[RoomAmenity]  WITH CHECK ADD  CONSTRAINT [FK_RoomAmenity_RoomType] FOREIGN KEY([Room_Type_Id])
REFERENCES [dbo].[RoomType] ([Room_Type_Id])
GO
ALTER TABLE [dbo].[RoomAmenity] CHECK CONSTRAINT [FK_RoomAmenity_RoomType]
GO
ALTER TABLE [dbo].[RoomImages]  WITH CHECK ADD  CONSTRAINT [FK_RoomImages_Rooms] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Room_Id])
GO
ALTER TABLE [dbo].[RoomImages] CHECK CONSTRAINT [FK_RoomImages_Rooms]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomType] FOREIGN KEY([Room_Type_Id])
REFERENCES [dbo].[RoomType] ([Room_Type_Id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomType]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceCategory] FOREIGN KEY([Service_Category_Id])
REFERENCES [dbo].[ServiceCategory] ([Service_Category_Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceCategory]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Role_Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[FeedbackRoom]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[FoodOrderDetail]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Invoice"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 311
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'doanh_thu_theo_thang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'doanh_thu_theo_thang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Booking"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 376
               Right = 492
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Invoice"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 311
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
USE [master]
GO
