<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Error page mapping -->
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>-->
    <!--    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>controller.Service.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controller.Service.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudServiceCategoryServlet</servlet-name>
        <servlet-class>controller.Service.CrudServiceCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRoom</servlet-name>
        <servlet-class>controller.manager.createRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRoom</servlet-name>
        <servlet-class>controller.manager.editRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoom</servlet-name>
        <servlet-class>controller.manager.listRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRoom</servlet-name>
        <servlet-class>controller.manager.viewRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRoom</servlet-name>
        <servlet-class>controller.manager.deleteRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoomBooking</servlet-name>
        <servlet-class>controller.manager.listRoomBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomDetail</servlet-name>
        <servlet-class>controller.manager.roomDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogServlet</servlet-name>
        <servlet-class>controller.user.ViewBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.user.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPostServlet</servlet-name>
        <servlet-class>controller.manager.SearchPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>controller.user.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>controller.manager.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatBotServlet</servlet-name>
        <servlet-class>controller.user.ChatBotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.user.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.user.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.user.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.user.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>controller.user.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.user.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.user.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <servlet-class>controller.user.BookingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBooking</servlet-name>
        <servlet-class>controller.receptionist.listBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookOffline</servlet-name>
        <servlet-class>controller.receptionist.bookOffline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoom</servlet-name>
        <servlet-class>controller.receptionist.searchRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>controller.manager.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>controller.manager.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>controller.manager.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostServlet</servlet-name>
        <servlet-class>controller.manager.ListPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackRoomServlet</servlet-name>
        <servlet-class>controller.user.FeedbackRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackRoomManagementServlet</servlet-name>
        <servlet-class>controller.manager.FeedbackRoomManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackRoomDetailServlet</servlet-name>
        <servlet-class>controller.manager.FeedbackRoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackRoomServlet</servlet-name>
        <servlet-class>controller.manager.DeleteFeedbackRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedbackRoomServlet</servlet-name>
        <servlet-class>controller.manager.SearchFeedbackRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveBookingServlet</servlet-name>
        <servlet-class>controller.manager.ApproveBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApproveBookingServlet</servlet-name>
        <servlet-class>controller.manager.ListApproveBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchApproveBookingServlet</servlet-name>
        <servlet-class>controller.manager.SearchApproveBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBookingServlet</servlet-name>
        <servlet-class>controller.user.MyBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMyBookingServlet</servlet-name>
        <servlet-class>controller.user.SearchMyBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>controller.user.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudUserServlet</servlet-name>
        <servlet-class>controller.admin.CrudUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatiticsAdminServlet</servlet-name>
        <servlet-class>controller.admin.StatiticsAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>controller.admin.ListUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.admin.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.admin.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.admin.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortFeedbackRoomServlet</servlet-name>
        <servlet-class>controller.manager.SortFeedbackRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingService</servlet-name>
        <servlet-class>controller.receptionist.bookingService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoomType</servlet-name>
        <servlet-class>controller.manager.listRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRoomType</servlet-name>
        <servlet-class>controller.manager.createRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRoomType</servlet-name>
        <servlet-class>controller.manager.editRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRoomType</servlet-name>
        <servlet-class>controller.manager.deleteRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRoomAmenity</servlet-name>
        <servlet-class>controller.manager.createRoomAmenity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentManagerServlet</servlet-name>
        <servlet-class>controller.manager.CommentManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.user.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>controller.user.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackRoomAgainServlet</servlet-name>
        <servlet-class>controller.user.FeedbackRoomAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.user.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.user.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagerServlet</servlet-name>
        <servlet-class>controller.Service.CategoryManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagerServlet</servlet-name>
        <servlet-class>controller.Service.ServiceManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>controller.manager.ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>controller.manager.AddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.manager.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutFoodServlet</servlet-name>
        <servlet-class>controller.manager.CheckoutFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>controller.admin.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodServlet</servlet-name>
        <servlet-class>controller.manager.EditFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodOrderListServlet</servlet-name>
        <servlet-class>controller.manager.FoodOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFoodServlet</servlet-name>
        <servlet-class>controller.manager.ListFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFoodServlet</servlet-name>
        <servlet-class>controller.manager.ManagerFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderServlet</servlet-name>
        <servlet-class>controller.manager.ManagerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>controller.manager.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFoodServlet</servlet-name>
        <servlet-class>controller.manager.ViewFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkinBooking</servlet-name>
        <servlet-class>controller.receptionist.checkinBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutBooking</servlet-name>
        <servlet-class>controller.receptionist.checkoutBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantServlet</servlet-name>
        <servlet-class>controller.manager.RestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>totalAmout</servlet-name>
        <servlet-class>controller.receptionist.totalAmout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateInvoice</servlet-name>
        <servlet-class>controller.receptionist.generateInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderService</servlet-name>
        <servlet-class>controller.receptionist.orderService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkinBookingService</servlet-name>
        <servlet-class>controller.receptionist.checkinBookingService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchHistoryBookingServlet</servlet-name>
        <url-pattern>/searchhistorybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagerServlet</servlet-name>
        <url-pattern>/feedbackmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <url-pattern>/viewfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackRoomServlet</servlet-name>
        <url-pattern>/feedbackroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackRoomManagementServlet</servlet-name>
        <url-pattern>/feedbackroommanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackRoomDetailServlet</servlet-name>
        <url-pattern>/feedbackroomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackRoomServlet</servlet-name>
        <url-pattern>/deletefeedbackroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedbackRoomServlet</servlet-name>
        <url-pattern>/searchfeedbackroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveBookingServlet</servlet-name>
        <url-pattern>/approvebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApproveBookingServlet</servlet-name>
        <url-pattern>/listapprovebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchApproveBookingServlet</servlet-name>
        <url-pattern>/searchapprovebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBookingServlet</servlet-name>
        <url-pattern>/mybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMyBookingServlet</servlet-name>
        <url-pattern>/searchmybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/cancelbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudUserServlet</servlet-name>
        <url-pattern>/cruduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatiticsAdminServlet</servlet-name>
        <url-pattern>/statiticsadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/listuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortFeedbackRoomServlet</servlet-name>
        <url-pattern>/sortfeedbackroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingService</servlet-name>
        <url-pattern>/bookingService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoomType</servlet-name>
        <url-pattern>/listRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRoomType</servlet-name>
        <url-pattern>/createRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRoomType</servlet-name>
        <url-pattern>/editRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRoomType</servlet-name>
        <url-pattern>/deleteRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRoomAmenity</servlet-name>
        <url-pattern>/createRoomAmenity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentManagerServlet</servlet-name>
        <url-pattern>/commentmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackRoomAgainServlet</servlet-name>
        <url-pattern>/feedbackroomagain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagerServlet</servlet-name>
        <url-pattern>/categorymanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManagerServlet</servlet-name>
        <url-pattern>/servicemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/addfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutFoodServlet</servlet-name>
        <url-pattern>/checkoutfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/deletefood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodServlet</servlet-name>
        <url-pattern>/editfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodOrderListServlet</servlet-name>
        <url-pattern>/foodorderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFoodServlet</servlet-name>
        <url-pattern>/listfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFoodServlet</servlet-name>
        <url-pattern>/managerfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderServlet</servlet-name>
        <url-pattern>/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFoodServlet</servlet-name>
        <url-pattern>/viewfood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkinBooking</servlet-name>
        <url-pattern>/checkinBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutBooking</servlet-name>
        <url-pattern>/checkoutBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantServlet</servlet-name>
        <url-pattern>/restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>totalAmout</servlet-name>
        <url-pattern>/totalAmout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateInvoice</servlet-name>
        <url-pattern>/generateInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderService</servlet-name>
        <url-pattern>/orderService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkinBookingService</servlet-name>
        <url-pattern>/checkinBookingService</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchHistoryBookingServlet</servlet-name>
        <servlet-class>controller.user.SearchHistoryBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagerServlet</servlet-name>
        <servlet-class>controller.manager.FeedbackManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.manager.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <servlet-class>controller.manager.ViewFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/deletepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/editpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostServlet</servlet-name>
        <url-pattern>/listpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogServlet</servlet-name>
        <url-pattern>/viewblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostServlet</servlet-name>
        <url-pattern>/searchpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatBotServlet</servlet-name>
        <url-pattern>/chatbot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/verifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <url-pattern>/bookinghistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/managerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/serviceservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudServiceCategoryServlet</servlet-name>
        <url-pattern>/crudservicecategoryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRoom</servlet-name>
        <url-pattern>/createRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRoom</servlet-name>
        <url-pattern>/editRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoom</servlet-name>
        <url-pattern>/listRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRoom</servlet-name>
        <url-pattern>/viewRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRoom</servlet-name>
        <url-pattern>/deleteRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoomBooking</servlet-name>
        <url-pattern>/listRoomBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomDetail</servlet-name>
        <url-pattern>/roomDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBooking</servlet-name>
        <url-pattern>/listBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookOffline</servlet-name>
        <url-pattern>/bookOffline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoom</servlet-name>
        <url-pattern>/searchRoom</url-pattern>
    </servlet-mapping>
</web-app>
